<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="MS" >

	<resultMap type="com.pknu.ms.vo.MsVo" id="MsListMap">
		<result property="ci" column=""     javaType = "string"/>
		<result property="title" column=""  javaType = "string"/>
		<result property="audio" column=""  javaType = "string"/>
		<result property="singer" column="" javaType = "string"/>	
	</resultMap>

	<select id="MusicList" statementType="CALLABLE"
	parameterType="hashmap" resultType = "com.pknu.ms.vo.MsVo">
	{CALL PKG_MS.PROC_GETLIST(
	    #{mid, mode=IN, jdbcType = VARCHAR},
		#{result, mode = OUT, jdbcType = CURSOR,
		javaType = ResultSet, resultMap = MsListMap}
	)}
	</select>
	

</mapper>
