@charset "UTF-8";

html, body {
		width: 100%;
		height: 100%;
		margin : 0px auto;
		overflow: visible;
	}

	#MS_Wrap
	{
		width:100%;
		height:100%;
		position:relative;
		
	}
	

	#sl_div
	{
		width: 100%;
		height: 6%;
		position:relative;
		
	}
	
	
	#search_div
	{
		width: 30%;
		height: 70%;
		position:absolute;
		top: 30%;
		left : 5%;
	}
	
	#search_input
	{
		width: 80%;
		height: 100%;
		position:absolute;
	}
	
	#search_btn
	{
		width: 20%;
		height: 100%;
		position:absolute;
		left: 80%;
	}
	
	#goList_div
	{
		width: 200px;
		height: 70%;
		position:absolute;
		top: 15%;
		left : 85%;
	}
	
	
	#goList_div > a
	{
		color : black;
		position:absolute;
		top: 25%;
	}
	
	#ms_profile_div
	{
	  width: 100%;
	  height: 26%;
	  position:relative;
	}
	
	#profile_Img_div
	{
	  width: 250px;
	  height: 250px;
	  position:absolute;
	  left:30%;
	}
	
	#profile_Img
	{
	  width: 100%;
	  height: 100%;
	  border-radius:50%;
	  position:absolute;
	}
	
	#profile_info_div
	{
	  width: 500px;
	  height: 60%;
	  position:absolute;
	  left: 50%;
	  top: 20%;
	}
	
	#playList_wrap
	{
		width: 60%;
	 	height: 100%;
	    background-color:red;
	    position:relative;
		left:20%;
	}
	
	#playList_list_div
	{
		width: 45%;
		height:100%;
		background-color: green;
		position: absolute;
		right:0px;
	}
	
	
	#playList_song_div
	{
		width: 90%;
		left: 5%;
		top:2%;
		bottom: 20%;
		height:90%;
		background-color:blue;
		position: absolute;
	
	}
	
	#playList_table
	{
		width: 100%;
		height:50%;
		border: 1px solid red;
	}
	
	
	td
	{
		border: 1px solid red;
		background-color: green;
	}
	
	.playList_img_td
	{
		width:40%;
		height: 20px;
		position:relative;
	}
	
	.playList_info_td
	{
		width: 30%;
	}
	
	.palyList_play_td
	{
		width: 30%;
		position:relative;
	}
	
	.song_img
	{
		width:70%;
		left: 15%;
		position: absolute;
	}
	
	.play_img
	{
		width:70%;
		left: 15%;
		position: absolute;
	}
	
	
	.playList_info_td > h1
	{
		font-size:30px;
		
	}
	
	.playList_info_td > h2
	{
		font-size:30px;
	}
	
	
	